*{
  padding:0px;
  margin: 0px;
  font-size:14px;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


._content{
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

#tr1 .td1{
  width: 10%;
  border-bottom: 1px solid #d0d0d0;
  height: 50px;
}

#tr1 .td2{
  width: 90%;
  height: 50px;
  border-bottom: 1px solid #d0d0d0;
}

#tr1 .td2 input{
    width:80%;
    height: 28px;
    border: 1px solid #e0e0e0;
    border-radius:2px;
    padding: 3px;
}

#tr1 .td2 a{
  background-color: red;
  border-radius: 2px;
  padding: 5px 30px;
  margin-left: 15px;
  text-decoration: none;
}


#tr2 .td1{
  width: 10%;
  border-bottom: 1px solid #d0d0d0;
  height: 200px;
}

#tr2 .td2{
  width: 90%;
  height: 200px;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 0px;
}

#tr2 .td2 textarea{
  padding: 3px;
  width: 80%;
  height: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}


#tr3 .td1{
  width: 10%;
  vertical-align:top;
}

#tr3 .td2{
  width: 90%;
  padding: 10px 0px;
}

#tr3 .td2 #show{
  width: 80%;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: #f0f0f0;
  min-height: 200px;
}



