<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/http.css"/>
</head>
<body>
<script type="text/javascript" src="../js/http.js"></script>
<script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../jsonFormat/js/jsonFormater.js" type="text/javascript"></script>
<div class="_content">
<table>
 	<tr id="tr1">
      <td class="td1">http(post):</td>
      <td class="td2">
      		<input name="http" id="http" type="text" value="http://127.0.0.1:9081/api"/>
      		<a href="javaScript:void(0)" onclick="test()">测试</a>
      </td>
   </tr>
   <tr id="tr2">
      <td class="td1">args:</td>
      <td class="td2"><textarea name="args" id="args">{
			"app": "应用标识",
			"service": "服务标识",
			"method": "方法标识",
			"content": {
			    ...//请求正文
			},
			"channel": "渠道ios/pc/android",
			"domain":"数据域，同一个服务可能对多个产品提供支持，用域划分数据空间",
			"token": "登录凭证"
		}</textarea></td>
   </tr>
   <tr id="tr3">
      <td class="td1">response:</td>
      <td class="td2"><div id="show"></div></td>
   </tr>
</table>
</div>
</body>
</html>