<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>api</title>

<link rel="stylesheet" href="../ztree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<link href="../jsonFormat/css/jsonFormater.css" type="text/css"
	rel="stylesheet" />
<link type="text/css" href="../css/api.css" rel="stylesheet" />

<script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript"
	src="../ztree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="../data/test.js"></script>
<script src="../jsonFormat/js/jsonFormater.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/api.js" charset="UTF-8"></script>
<script type="text/javascript" src="../js/js-format.js" charset="UTF-8"></script>
</head>
<body>
	<div id="api_m">
		<div class="_head">API 文档</div>
		<div class="_content3">
			<div class="api_resp_h1">
				<h1>API网关-jar管理</h1>
			</div>
			<div class="api_resp_note">
				<table>
					<tr>
						<th>名称</th>
						<th>md5</th>
						<th>说明</th>
						<th>联系人</th>
						<th></th>
					</tr>
					<tr>
						<td>名称</td>
						<td>md5</td>
						<td>说明</td>
						<td>联系人</td>
						<td><a href="#">刷新</a></td>
					</tr>
					<tr>
						<td>名称</td>
						<td>md5</td>
						<td>说明</td>
						<td>联系人</td>
						<td><a href="#">刷新</a></td>
					</tr>
				</table>
			</div>
			<div class="_clear"></div>
		</div>
	</div>
	
	<!-- 防乱刷新
	1.每个jar配置个自己的刷新pwd,刷新的时候验证
	2.只有文件的md5变动了才能刷新 -->
</body>
</html>
